/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
@import url("https://use.fontawesome.com/releases/v5.0.11/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left:3px;
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17.5rem);  
  margin-left: 17.5rem;
  transition: all 0.4s;
  height: 100vh;*/
}

.page-content-final {
  width: calc(100% - 17.5rem);  
  margin-left: 17.5rem;
  transition: all 0.4s;
  height: 100vh;*/
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: blue;
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
  color: yellow;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-console {
  color: yellow;
}

.text-titulo {
  color: red;
}

.menus{
  background: #4f5b69;
}

.cuadro {
  border-style: solid;
  border-color: yellow;
}

.text-page{
  font-size: 11px;
}

/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: white;
}

.separador-menu{
  border: none; 
  height: 3px; /* Set the hr color */ 
  color: yellow; /* old IE */ 
  background-color: yellow; /* Modern Browsers */
}

.scroll-container {
  margin: auto;
  max-height: 100%;
  overflow: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rule
{
  display: flex;
  align-items: stretch;
}