Package: m4bs
Priority: optional
Section: misc
Maintainer: dcf-maker <dcf.maker@gmail.com>
Architecture: armhf 
Version: 0.0.43
Replaces: 
Depends: git, telnet, telnetd, curl, dialog, apache2, jq, megacmd
Description: m4bs Backup online
 Backup online en MEGA de la M4 Board para amstrad cpc.
 Como hardware se utiliza Raspberry PI 3 y como sistema
 operativo Raspbian 10 (Buster) tuneado para la aplicacion
 M4BS. Se puede utilizar interface Web o via telned desde
 el propio amstrad.
