

name: compile
on:
   push:
     branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: pwd

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - run: |
          pwd
          mkdir -p m4bs
          ls -l
          source "usr/share/doc/m4bs/version"
          dpkg-deb --build /home/runner/work/m4bs/m4bs
          cd /home/runner/work/m4bs
          mv m4bs.deb /home/runner/work/m4bs/m4bs/m4bs/m4bs-$VERSION_armhf.deb
          ls -l
      - uses: actions/upload-artifact@v2
        with:
          name: m4bs-$VERSION_armhf
          path: m4bs/