

name: compile
on:
   push:
     branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: pwd

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - run: |
          mkdir -p m4bs
          pwd
          dpkg-deb --build .
          ls -l
      - uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: m4bs/