

name: compile
on:
   push:
     branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: pwd

#      - name: Get version
#        id: get_version
#        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Get version
        id: get_version
        run: source "usr/share/doc/m4bs/version";echo ::set-output name=VERSION::$(echo $VERSION)

      - run: |
          pwd
          ls -ltra
          mkdir -p m4bs
          chmod 755 DEBIAN/postins
          chmod 755 DEBIAN/postrm
          chmod 755 DEBIAN/prerm
          rm -rf .git
          rm -rf .github
          rm -rf README*
          rm -rf LICE*
          rm -rf .gitignore
          ls -l
          source "usr/share/doc/m4bs/version"
          echo "La version es: "${VERSION}
          dpkg-deb --build /home/runner/work/m4bs/m4bs
          cd /home/runner/work/m4bs
          ls -l
          mv m4bs.deb /home/runner/work/m4bs/m4bs/m4bs/m4bs-${VERSION}_armhf.deb
          cd m4bs/m4bs
          ls -l


      - name: Pushes test file
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.PERMISOS }}
        with:
          source_file: m4bs/m4bs-${{ steps.get_version.outputs.VERSION }}_armhf.deb
          destination_repo: dcf-maker/ppa
          user_email: dcf.maker@gmail.com
          user_name: dcf-maker
          commit_message: 'A custom message for the commit'

      - uses: actions/upload-artifact@v2
        with:
          name: m4bs
          path: m4bs/